.Normal{
    background-color: seagreen;
}

.Abnormal{
    background-color: tomato;
}

.skipped{
    background-color: grey;
}

.login-form{
    border: 1px solid;
    padding: 20px;
    margin-top: 50px;
}

.upload-form{
    border: 1px solid;
    padding: 20px;
    margin-top: 50px;
}

.flash {
    margin: 10px;
    text-align: center;
    border-top: 2px solid;
    border-color: #0066cc;
    background-color: lightskyblue;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto
}

.error {
    border-color: darkred;
    background-color: lightcoral;
}

.header{
    border-bottom: 1px solid black;
}

.signup{
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
}

.nav-item{
    border: 2px solid dodgerblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    margin-left: 5px;
}

.nav-item:hover{
    background-color: dodgerblue;
    color: white;
}

.nav-item:active{
    font-weight: bold;
}

.nav {
    margin-top: 9px;
    margin-bottom: 7px;
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

h2, h3{
    text-align: center;
    margin-bottom: 25px;
}
