.Normal{
    background-color: seagreen;
}

.Abnormal{
    background-color: tomato;
}

.skipped{
    background-color: grey;
}

.login-form{
    max-width: 500px;
    margin: auto;
    border: 1px solid;
    padding: 50px;
    padding-bottom: 60px;
}