.Normal{
    background-color: seagreen;
}

.Abnormal{
    background-color: tomato;
}

.skipped{
    background-color: grey;
}

.plate{
    text-align: center;
}

.login-form{
    border: 1px solid;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.upload-form{
    border: 1px solid;
    margin-top: 50px;
    border-radius: 5px;
    padding: 50px;
}

.flash {
    margin: 10px;
    text-align: center;
    border-top: 2px solid;
    border-color: #0066cc;
    background-color: lightskyblue;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto
}

.error {
    border-color: darkred;
    background-color: lightcoral;
}

.header{
    border-bottom: 1px solid black;
}

.signup{
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
}


h2, h3{
    text-align: center;
    margin-bottom: 25px;
}

.navbar-brand {
    padding: 6px 6px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
