{% extends "analysis/header.html" %}

{% block content %}
    {% load widget_tweaks %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-form">
            <h3>Login to analyze data</h3>

            <form class="form-horizontal" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{ form.username.id_for_label }}">Username: </label>
                    <div class="col-sm-9">
                        {{ form.username|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{ form.password.id_for_label }}">Password: </label>
                    <div class="col-sm-9">
                        {{ form.password|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary" type="submit">Login!</button>
                </div>

            </form>
                <p class="signup">Or <a href="{% url 'signup' %}">create an account</a> to analyze data</p>
        </div>

    </div>
{% endblock %}
