{% extends "analysis/header.html" %}

{% block content %}

<h2>Login to analyze data</h2>

{% if error %}
    <strong>{{ error }}</strong>
{% endif %}

    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form }}
{#        <div class="form-group">#}
{#            <label for="username">Username:</label>#}
{#            <input type="text" class="form-control" id="username">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="password">Password:</label>#}
{#            <input type="password" class="form-control" id="password">#}
{#        </div>#}
        <button class="btn btn-primary" type="submit">Login!</button>
    </form>
{% endblock %}
