{% extends "analysis/header.html" %}

{% block content %}

    {% if histories %}
    <table class="table">
    <thead>
    <tr>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>


    {% for history in histories %}
        <tr>
        <td>{{ history.filename }}</td>
        <td>{{ history.datetime }}</td>
        <td>
            <form action="{% url 'history' %}" method="get">
                <button class="btn btn-sm btn-primary" name="id" type="submit" value="{{ history.id }}">View</button>
            </form>
        </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>

    {% else %}
        <h2>You have not uploaded any files yet!</h2>
    {% endif %}

{% endblock %}