{% extends "analysis/header.html" %}

{% block content %}
    {% load widget_tweaks %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 upload-form">
            <h3>Upload data for analysis</h3>
            <form class="form-horizontal" action="{% url 'analysis' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.file | add_class:"form-control" }}
                </div>
                <button class="btn btn-primary" type="submit">Process data</button>
            </form>
        </div>
    </div>
{% endblock %}
