{% extends "analysis/header.html" %}

{% block content %}

    <div class="row">
        {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}

        {% if matched %}
        <div class="col-lg-12">
            {% if plate_size == 48 %}
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                </tr>
                </thead>
                <tbody>
                {% for item in matched %}
                    {% cycle '<tr>' '' '' '' '' '' '' '' %}
                    <td class="{{ item }}">{{ item }}</td>
                    {% cycle '' '' '' '' '' '' '' '</tr>' %}
                {% endfor %}
                </tbody>
                </table>

            {% endif %}


            {% if plate_size == 96 %}
                                <table class="table table-bordered">
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                </tr>
                </thead>
                <tbody>
                {% for item in matched %}
                    {% cycle '<tr>' '' '' '' '' '' '' '' '' '' '' '' %}
                    <td class="{{ item }}">{{ item }}</td>
                    {% cycle '' '' '' '' '' '' '' '' '' '' '' '</tr>' %}
                {% endfor %}
                </tbody>
                </table>


            {% endif %}
        </div>
    </div>
            {% if item_id %}
            <div class="row">
                <div class="col-md-3">
                    <form action="{% url 'delete' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit" name="id" value="{{ item_id }}">Delete From History</button>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endif %}

{% endblock %}